body{
   font-family:'Source Sans Pro', sans-serif;
   background: #b4c2a9;
}
.container{
   background: #f8f8f8;
}
#qpdata {
   padding: 20px;
/*background: #EAEAEA; */
}
.qpaperdata{
   margin-top:30px;
}
#qplist h3{
    margin-top: 0;
}
#qplist,#qplist li{
   overflow: auto;
}
#qplist li{
margin-bottom: 5px;
}
.upload-button{
   margin:4px 15px 15px 15px;
}
#delete-papers:before{
   content: "\f00d";
}
.rest-delete{
   color:rgb(237, 100, 100);
   font-size: 14px;
vertical-align: super;
}
#download-paper:after {
content: "\e025";
font-size: 12px;
padding: 5px;
}
#download-paper{
   padding: 7px;
border: 1px solid;
/* font-weight: 600 !important; */
border-radius: 6px;
font-size: 13px;
}
#qplist li:nth-child(2n+1) {
    background: #c5dde3;
}
#createqp{
   background: #c5dde3;
}
#uploadheader{
   /*text-align: center;*/
margin: 15px 0;
/*color: #5B8AB3;*/
font-weight: 600;
}

.navbar-nav > li > a{
   padding:2px 7px !important;
   color:#FFF !important;
}
.navbar-nav > li{
   margin:10px;
}
#middle-container{
   padding-top:65px;
}
